@font-face {
  font-family: Graphik LC TT;
  font-display: swap;
  src: url("./stylesheet.css/GraphikLCG-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Graphik LC TT;
  font-display: swap;
  src: url("./stylesheet.css/GraphikLCG-Semibold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  color: #000;
  font-family: Graphik LC TT;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1290px;
  margin: 0 auto;
}
.header {
  background-color: #fff;
}
.header__inner {
  padding-top: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__group {
  display: flex;
  gap: 50px;
  align-items: center;
}
.menu__list {
  display: flex;
  gap: 57px;
}
.header-button {
  position: relative;
}
.header-button {
}
.log-button {
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #000;
  text-align: center;
  font-family: Graphik LC TT;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  background-color: #fff;
}
.try-button {
  width: 120px;
  background: #ff6336;
  color: #fff;
  text-align: center;
  font-family: Graphik LC TT;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  background: #ff6336;
}
.main {
  background-color: #fff;
}
.top {
  padding: 97px 0 147px;
}
.top__inner {
  display: flex;
}
.top__title {
  color: #000;
  font-family: Graphik LC TT;
  font-size: 65px;
  margin-bottom: 51px;
  width: 552px;
}
.top__text {
  margin-bottom: 48px;
  color: #000;
  font-family: Graphik LC TT;
  font-size: 25px;
  width: 471px;
}
.free-button {
  width: 160px;
  border: 1px solid #ff6336;
  background: #ff6336;
  color: #fff;
  text-align: center;
  font-family: Graphik LC TT;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  padding: 21px 0;
}
.book-button {
  width: 160px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #000;
  text-align: center;
  font-family: Graphik LC TT;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  background-color: #fff;
  padding: 21px 0;
}
.main-button {
  display: flex;
  gap: 10px;
}
.try {
  color: #000;
  font-family: Graphik LC TT;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-top: 25px;
}
.top__img {
}
.about {
  background-color: #ff9c7d;
  padding: 98px 0 94px;
  color: #000;
  margin-bottom: 90px;
}
.about__inner {
  align-items: center;
}
.about__content {
  width: 720px;
  margin: 0 auto;
}
.about__title {
  display: flex;
  color: #000;
  text-align: center;
  font-family: Graphik LC TT;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  align-items: center;
  justify-content: center;
}
.about__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 70px;
}
.section__inner {
  display: flex;
  flex-direction: column;
  gap: 250px;
}
.project__item {
  display: flex;
  align-items: center;
  gap: 140px;
}
.project__item-img {
  width: 632px;
  height: 632px;
  flex-shrink: 0;
  display: flex;
}
.project__item-titl {
  width: 493px;
  color: #000;
  font-family: Graphik LC TT;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  padding-bottom: 30px;
}
.project_text {
  margin: 0;
}
.project {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project__item-text {
  color: #000;
  font-family: Graphik LC TT;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 30px;
}
.project__inner-text {
  color: #000;
  font-family: Graphik LC TT;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.localize {
  background: #fff8e4;
  margin-top: 150px;
}
.header-localize {
  padding-top: 120px;
  padding-bottom: 58px;
}
.header-localize-text {
  color: #000;
  text-align: center;
  font-family: Graphik LC TT;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.container .localize__inner {
  display: flex;
}
.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 330px;
  justify-content: center;
  align-items: center;
}
.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 57px;
  padding-bottom: 93px;
}
.card_img {
  width: 160px;
  height: 120px;
  margin-bottom: 26px;
}
.localize__inner-h {
  color: #000;
  text-align: center;
  font-family: Graphik LC TT;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 20px;
}
.card p {
  text-align: center;
  /* color: #000;
  text-align: center;
  font-family: Graphik LC TT;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; */
}
.productivity {
  background-color: #fff;
}
.container .productivity__inner {
  display: flex;
  /* margin-bottom: 67px; */
}
.header-productivity {
  padding-top: 154px;
  padding-bottom: 25px;
  /* padding: 154px 23px 25px 20px; */
}
.header-productivity-text {
  color: #000;
  font-family: Graphik LC TT;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  /* text-align: center; */
}
.card__container__pro {
  display: flex;
  padding-top: 25px;
  padding-bottom: 270px;
}
.card_pro {
  display: flex;
  flex-direction: column;
  width: 439.984px;
  align-items: start;
}
.card_pro_img {
  /* width: 145px;
  height: 201px; */
}
.productivity__inner_pro {
  color: #000;
  font-family: Graphik LC TT;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.card_pro p {
  color: #000;
  font-family: Graphik LC TT;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-top: 34px;
  width: 409px;
}
.card_pro a {
  color: #000;
  font-family: Graphik LC TT;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration-line: underline;
  padding-top: 25px;
}
.revolut {
  background: #c9e8f2;
}
.container_revolut__inner {
  display: flex;
  max-width: 1290px;
  margin: 0 auto;
  /* display: flex;
  max-width: 1440px;
  margin: 0 auto; */
}
.revolut__header {
  width: 920.702px;
  color: #000;
  font-family: Graphik LC TT;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  /* padding-top: 63px; */
}
.revolut__tex {
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  /* padding-top: 23px; */
}
.revolut__img {
  width: 115.216px;
  height: 25px;
}
.container__revolut-item-tex {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 23px;
  margin-bottom: 150px;
  margin-top: 43px;
}
.revolut__avatar {
  padding: 53px 75px 105px 59px;
}
.translation {
  background: #dabc98;
}
.container_translation {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}
.container-item {
  display: flex;
  width: 890px;
  padding: 69px 80px;
  align-items: center;
  border-right: 1px solid black;
  height: 178px;
  margin-top: 69px;
  margin-bottom: 80px;
}
.translation_img {
  width: 176px;
  height: 154px;
}
.translation-text {
  color: #000;
  font-family: Graphik LC TT;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  padding-left: 67px;
}
.container_translation_box {
  display: flex;
  margin: 79px 80px;
  width: 481px;
  height: 168px;
}
.translation_box-inner {
  width: 128px;
  height: 116px;
}
.translation_logo-inner {
  padding-bottom: 20px;
}
.star-inner {
  padding-bottom: 14px;
}
.container_translation_box p {
  color: #000;
  font-family: Graphik LC TT;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.75px;
  padding-bottom: 23px;
}
.translation_box-item {
  padding-left: 70px;
}
.translation_logo-item {
  padding-bottom: 20px;
}
.star-item {
  padding-bottom: 14px;
}
.container_integrate {
  flex-direction: column;
  display: flex;
  max-width: 1290px;
  margin: 0 auto;
}
.integrate_header {
  color: #000;
  text-align: center;
  font-family: Graphik LC TT;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 75px;
  padding: 169px 249px 0 250px;
}
.container_integrate p {
  color: #000;
  text-align: center;
  font-family: Graphik LC TT;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.integrate-img {
  width: 1023px;
  height: 445px;
}
.container_integrate p {
  max-width: 539px;
  color: #000;
  text-align: center;
  font-family: Graphik LC TT;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-left: 376px;
  padding-bottom: 25px;
}
.integrate-img {
  width: 1023px;
  height: 445px;
  margin-left: 133px;
  padding-top: 25px;
}
.button-see {
  width: 193px;
  color: #fff;
  text-align: center;
  font-family: Graphik LC TT;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  background: #ff6336;
  border: 1px solid #ff6336;
  padding: 0 20px;
}
.button-integrate {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  margin-bottom: 162px;
}
