@font-face {
  font-family: Graphik LC TT;
  font-display: swap;
  src: url("./stylesheet.css/GraphikLCG-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Graphik LC TT;
  font-display: swap;
  src: url("./stylesheet.css/GraphikLCG-Semibold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  color: #000;
  font-family: Graphik LC TT;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1290px;
  margin: 0 auto;
}
.header {
  background-color: #fff;
  border-bottom: 1px solid;
}
.header__inner {
  padding-top: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.header__group {
  display: flex;
  gap: 50px;
  align-items: center;
}
.menu__list {
  display: flex;
  gap: 57px;
}
.log-button {
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  padding: 14px 0;
  background-color: #fff;
}
.try-button {
  width: 120px;
  background: #ff6336;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  border: 1px solid #ff6336;
  padding: 14px 0;
}
.top__inner {
  display: flex;
  padding: 97px 0 147px;
  gap: 20px;
}
.top__title {
  color: #000;
  font-size: 63px;
  margin-bottom: 51px;
}
.top__text {
  margin-bottom: 48px;
  color: #000;
  font-size: 25px;
  line-height: 30px;
}
.free-button {
  width: 160px;
  border: 1px solid #ff6336;
  background: #ff6336;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  padding: 21px 0;
}
.book-button {
  width: 160px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  background-color: #fff;
  padding: 21px 0;
}
.main-button {
  display: flex;
  gap: 10px;
}
.try {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-top: 25px;
}
.about {
  background-color: #ff9c7d;
  color: #000;
}
.about__inner {
  padding: 98px 0 94px;
}
.about__content {
  width: 720px;
  margin: 0 auto;
}
.about__title {
  color: #000;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.about__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 70px;
}
.section__inner {
  display: flex;
  flex-direction: column;
  gap: 250px;
  padding-top: 90px;
  padding-bottom: 150px;
}
.project__item:nth-child(2n) {
  display: flex;
  flex-direction: row-reverse;
}
.project__item {
  display: flex;
  align-items: center;
  gap: 140px;
}
.project__item-img {
  flex-shrink: 0;
  display: flex;
}
.project__item-titl {
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 30px;
}
.project_text {
  margin: 0;
}
.project__item-text {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}
.project__inner-text {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.localize {
  background: #fff8e4;
}
.header-localize {
  margin-bottom: 58px;
}
.header-localize-text {
  color: #000;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.localize__inner {
  padding: 120px 0 150px 0;
}
.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 330px;
  justify-content: center;
  align-items: center;
}
.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 57px;
}
.card_img {
  margin-bottom: 26px;
}
.localize__inner-h {
  color: #000;
  text-align: center;
  font-family: Graphik LC TT;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 20px;
}
.localize__inner-p {
  text-align: center;
}
.productivity__inner {
  padding: 154px 0 187px 0;
}
.header-productivity {
  margin-bottom: 84px;
}
.header-productivity-text {
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.card__container__pro {
  display: flex;
  gap: 31px;
}
.card_pro {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.productivity__inner_pro {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  margin-top: 67px;
}
.card_pro:first-child .productivity__inner_pro {
  margin-top: 32px;
}
.card_pro:last-child .productivity__inner_pro {
  margin-top: 48px;
}
.card_pro_p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 34px;
  width: 409px;
}
.card_pro_a {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration-line: underline;
  margin-top: 25px;
}
.revolut {
  background: #c9e8f2;
}
.container_revolut__inner {
  display: flex;
  padding: 63px 0 105px 0;
  gap: 85px;
}
.revolut__header {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 23px;
}
.revolut__tex {
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 10px;
}
.translation {
  background: #dabc98;
}
.container_translation {
  display: flex;
  padding: 69px 0 80px 0;
}
.container-item {
  display: flex;
  align-items: center;
  border-right: 1px solid black;
}
.translation-text {
  color: #000;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  margin-left: 67px;
}
.container_translation_box {
  display: flex;
  padding: 30px 71px;
}
.translation_box-inner {
  width: 128px;
}
.translation_logo-inner {
  margin-bottom: 20px;
}
.star-inner {
  margin-bottom: 14px;
}
.translation-text_inner {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.75px;
}
.translation_box-item {
  margin-left: 70px;
}
.translation_logo-item {
  margin-bottom: 20px;
}
.star-item {
  margin-bottom: 14px;
}
.container_integrate {
  padding: 169px 0 162px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.integrate_header {
  color: #000;
  text-align: center;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 75px;
  width: 790px;
}
.integrate_inner {
  max-width: 539px;
  color: #000;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.integrate-img {
  margin-top: 25px;
}
.button-see {
  width: 193px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  background: #ff6336;
  border: 1px solid #ff6336;
  padding: 21px 0;
}
.button-integrate {
  margin-top: 32px;
}
.easy {
  background: #ff9c7d;
}
.container_easy {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 119px 0 161px;
}
.easy_header {
  width: 784px;
  color: #000;
  text-align: center;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 75px;
  margin-bottom: 29px;
}
.easy_inner {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 54px;
}
.button-it {
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  background: #000;
  width: 160px;
  padding: 20px 0;
  border: 1px solid #000;
}
.footer {
  background: #eee;
}
.container_footer {
  display: flex;
  flex-direction: column;
  padding-top: 92px;
}
.footer_body {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.group {
  display: flex;
  flex-direction: column;
  max-width: 370px;
}
.footer_header {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 28px;
}
.img_cyclist {
  margin-bottom: 31px;
}
.img_logo {
  width: 80px;
  margin-bottom: 11px;
}
.footer_text {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 15px;
}
.footer_a {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 95px;
}
.container_list {
  display: flex;
  gap: 34px;
  padding-top: 5px;
}
.list_header_inner {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 21px;
}
.footer_list_item {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 15px;
}
.footer_bottom {
  padding: 48px 0;
  display: flex;
  justify-content: space-between;
}
.bottom-item {
  gap: 14px;
  display: flex;
  align-items: center;
}
.bottom_inner_p {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}
